p {
    color: #55024a;
    font-size: 10px;
  }
  
  
     
      button {
        background: aquamarine;
        size: 150px;
        text-align: center;
        color: rgb(145, 3, 90);
        padding: 7px;
        font-size: bold 50px rgb(145, 3, 90);
        margin-left: 2px;
        }
        